<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>쉽고 빠른 자산관리 - 마니마니(money-moeny)</title>
<link rel="stylesheet" href="../static/css/default.css">
<link rel="stylesheet" href="../static/css/main.css">

  </head>
  <body id="main">
  <header>
    <img id="header_logo" src="../static/Resource/logo_white.png" alt="">
    <nav>
      <a href="/main">메인</a>
      <a href="/realTime">자산현황</a>
      <a href="/planning">자산관리</a>
      <a href="/easyConfirm">간편확인</a>
      <a href="/myPage">마이페이지</a>
    </nav>
    <div class="sign-in_up">
      <a href="/login">로그인</a>
      <a href="/register">회원가입</a>
    </div>
  </header>
  <article>
    <div class="service">
      <div class="article_text">service</div>

      <div class="item1">
      <img class="item_icon"src="../static/Resource/icon_save-coin_gradient.png" alt="">
      <div class="item_text">
      <h3 class="item_title">로그인 하지 않고도 간편하게 </h3>
      <p>로그인을 하지 않을 시<br/>기록이 남지 않습니다 </p>
      </div>
      </div>
      <div class="item2">
      <img class="item_icon"src="../static/Resource/icon_save-coin_gradient.png" alt="">
      <div class="item_text">
      <h3 class="item_title">카드만 조회하면 편리하게 </h3>
      <p>카드가 없다고요?<br/>직접 입력도 가능합니다 </p>
      </div>
      </div>
      <div class="item3">
      <img class="item_icon"src="../static/Resource/icon_save-coin_gradient.png" alt="">
      <div class="item_text">
      <h3 class="item_title">아이들의 용돈기입장처럼</h3>
      <p>작성하는 방법이 쉬워<br/>아이들도 쉽게 따라할 수 있습니다 </p>
      </div>
      </div>
      <div class="item4">
      <img class="item_icon"src="../static/Resource/icon_save-coin_gradient.png" alt="">
      <div class="item_text">
      <h3 class="item_title">자산현황을 한 눈에</h3>
      <p>계획 기간까지의 현황을<br/>파악하고 예측하며 사용액을<br/>줄일 수 있습니다</p>
      </div>
      </div>
    </div>
    <div class="start" style="background-image:url(../static/Resource/pic_main_begin.png)">
      <pre>쉽고 빠른 자산관리
마니마니

지금 시작합니다</pre>
      <a href="/login">Begin us</a>
    </div>
  </article>
  <footer>


  </footer>
  </body>
</html>
